<%= form_for(@juice) do |f| %>
  <% if @juice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@juice.errors.count, "error") %> prohibited this juice from being saved:</h2>

      <ul>
      <% @juice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="actions">
    <%= f.submit nil, class: "boton"%>
  </div>
<% end %>
